.budgetItem {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 6px;
    border-radius: 8px;
}
.budgetCell {
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-right: 10px;
}
.budgetCellTotal {
    border-radius: 50%;
    border: 2px dotted #DADEE0;
    align-items: center;
    justify-content: center;
    width: 108px;
    height: 108px;
    flex-shrink: 0;
}
.budgetTitle {
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 4px;
}
.budgetType {
    font-size: 12px;
    line-height: 16px;
    color: #94A1B3;
}
.budgetTotal {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}