.webix_toolbar {
        
    .user {
        cursor: pointer;
        .webix_template {
            padding: 0;
            display: flex;
        }
    }
    .userInner {
        display: flex;
        align-items: center;
    }
    .userAvatar {
        width: 44px;
        height: 44px;
        position: relative;
        margin-right: 8px;
    }
    .userImage {
        display: block;
        border-radius: 50%;
        position: relative;
        width: 44px;
        height: 44px;
    }
    .userName {
        display: flex;
        align-items: center;
        user-select: none;
        .mdi-menu-down {
            color: #94A1B3;
        }
    }
}